/* Telefones em paisagem a tablet em retrato */
@media (min-width: 300px) and (max-width: 767px) {
  /* FONTE PADRÃO */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

  body {
    font-family: "Montserrat", sans-serif;
  }

  /* ESTILIZAÇÕES DO HEADER */
  .img-logotipo {
    width: 150px;
  }

  header {
    margin-top: auto;
    margin-bottom: auto;
  }

  .corbtn {
    color: #747474;
  }

  /* NAV PRINCIPAL */

  .img-garrafa {
    width: 0rem;
  }

  .fundo-cinza {
    background-image: url("../IMAGENS/businessinsider.png");
    /* width: auto; */
    padding-top: 55px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .verdeesc {
    font-weight: bold;
    color: #1a3f05;
  }

  .text-princ {
    text-shadow: rgb(1, 34, 1) 0.2em 0.1em 0.2em;
    color: #ffffff;
  }

  .corverde {
    color: #ffffff;
    font-weight: bold;
  }

  .tam-play-nav {
    max-width: 250px;
    max-height: 145px;
    width: auto;
    height: auto;
    margin-left: 60px;
  }

  .tam-app-nav {
    max-width: 250px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-left: 60px;
  }

  /*SECTION*/

  .teste {
    color: #297000;
    font-weight: bolder;
  }

  .sombreamento-text {
    color: #4ddd29;
    text-shadow: rgb(168, 168, 168) 0.1em 0.1em 0.2em;
  }

  hr {
    background-color: rgba(160, 160, 160, 0.616);
    height: 1px;
  }

  ul.square {
    list-style-type: square;
    color: #4ddd29;
    /* margin-top: 50px; */
  }

  .square-color {
    color: rgb(83, 83, 83);
  }

  i {
    font-size: 155px;
    color: #4ddd29;
  }

  .posi-mob-ind {
    margin-bottom: 100px;
    margin-left: 100px;
  }

  .tam-mob-ind {
    margin-left: 20px;
    margin-right: 20px;
  }

  .icons-nav {
    font-size: 80px;
    color: rgba(94, 104, 92, 0.801);
  }

  .esp-nav-home {
    margin-bottom: 120px;
  }

  .sombreamento-text-nav {
    color: rgb(93, 148, 79);
    text-shadow: rgba(28, 226, 28, 0.651) 0.1em 0.1em 0.2em;
  }

  .icons-nav-green {
    font-size: 80px;
  }

  .cor-nav-home {
    background-color: #81818156;
  }

  .esp-nav-dois-home {
    margin-top: 10px;
  }

  .tam-mob-ind-li {
    margin-left: 50px;
  }

  .tam-mob-ind-lix {
    margin-left: 65px;
  }

  .posi-mob-ind-ul {
    margin-bottom: 10px;
    margin-left: 100px;
  }

  /* PÁGINA NOTÍCIAS */

  .fundo-cinza-noticias {
    background-color: #dadada;
  }

  .notic-h {
    margin-top: 30px;
    color: #4ddd29;
  }

  .posi-noti-h-dois {
    font-size: large;
    background-color: #f1f0f0;
  }

  .back-mob {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
  }

  /* PÁGINA PROJETO */
  .posi-proj-um {
    margin-top: 80px;
    color: #ffffff;
  }

  .color-proj-dois {
    color: rgb(0, 0, 0);
  }

  .fundo-verde-projeto {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    height: 550px;
  }

  .esp-caixas-proj {
    margin-top: 100px;
  }

  .linha-cor-nav {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    height: 2px;
  }

  /* FOOTER */
  footer {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
  }

  .img-foot-tam {
    width: 150px;
  }

  .mg-mob-foot {
    margin-top: 30px;
  }
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 500px) and (max-width: 1200px) {
  /* FONTE PADRÃO */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

  body {
    font-family: "Montserrat", sans-serif;
  }

  /* ESTILIZAÇÕES DO HEADER */
  .img-logotipo {
    width: 150px;
  }

  header {
    margin-top: auto;
    margin-bottom: auto;
  }

  .corbtn {
    color: #747474;
  }

  .img-garrafa {
    width: 0rem;
  }

  /* NAV PRINCIPAL */
  .verdeesc {
    color: #55df06;
    font-size: xx-large;
    font-weight: bold;
  }

  .corverde {
    color: rgba(0, 0, 0, 0.74);
    font-size: x-larger;
    font-weight: bold;
  }

  .fundo-verde {
    height: 300px;
    margin-left: 0px;
    padding-top: 55px;
  }

  .fundo-cinza {
    background-image: url("../IMAGENS/garrafa1.png");
    height: 450px;
    width: auto;
    position: absolute;
    padding-top: 90px;
  }

  /*SECTION*/

  .teste {
    color: #297000;
    font-weight: bolder;
    margin-top: 200px;
  }

  .sombreamento-text {
    color: #4ddd29;
    text-shadow: rgb(168, 168, 168) 0.1em 0.1em 0.2em;
  }

  hr {
    background-color: rgba(160, 160, 160, 0.616);
    height: 1px;
  }

  ul.square {
    list-style-type: square;
    color: #4ddd29;
    /* margin-top: 50px; */
  }

  .square-color {
    color: rgb(83, 83, 83);
  }

  i {
    font-size: 155px;
    color: #4ddd29;
  }

  .icons-nav {
    font-size: 80px;
    color: rgba(94, 104, 92, 0.801);
  }

  .esp-nav-home {
    margin-bottom: 120px;
  }

  .sombreamento-text-nav {
    color: rgb(93, 148, 79);
    text-shadow: rgba(28, 226, 28, 0.651) 0.1em 0.1em 0.2em;
  }

  .icons-nav-green {
    font-size: 80px;
  }

  .cor-nav-home {
    background-color: #81818156;
  }

  .esp-nav-dois-home {
    margin-top: 120px;
  }

  /* FOOTER */
  footer {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
  }
}

/******** DESKTOP PADRÃO ********/
@media (min-width: 1200px) {
  /* FONTE PADRÃO */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

  body {
    font-family: "Montserrat", sans-serif;
  }

  /* ESTILIZAÇÕES DO HEADER */
  .img-logotipo {
    width: 150px;
  }

  header {
    margin-top: auto;
    margin-bottom: auto;
  }

  .corbtn {
    color: #747474;
  }

  .img-garrafa {
    margin-top: auto;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    height: 565px;
  }

  /* NAV PRINCIPAL */

  .fundo-verde {
    /* background-image: url("../IMAGENS/Retângulolimao1.png"); */
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    width: 30%;
    height: 590px;
    margin-left: 10%;
    padding-top: 55px;
    position: relative;
  }

  .fundo-cinza {
    background-image: url("../IMAGENS/Retângulo\ 19.png");
    width: 1800px;
    height: 565px;
    position: absolute;
    left: 520px;
    padding-top: 55px;
    padding-left: 30px;
    top: 45px;
  }

  .fundo-escuro {
    background-image: url("../IMAGENS/Retângulo\ 17.png");
    width: 250px;
    height: 525px;
    position: absolute;
    left: 950px;
    top: 95px;
  }

  .verdeesc {
    color: #297000;
  }

  /*SECTION*/

  .teste {
    color: #297000;
    font-weight: bolder;
  }

  .sombreamento-text {
    color: #4ddd29;
    text-shadow: rgb(168, 168, 168) 0.1em 0.1em 0.2em;
  }

  hr {
    background-color: rgba(160, 160, 160, 0.616);
    height: 1px;
  }

  ul.square {
    list-style-type: square;
    color: #4ddd29;
    margin-top: 50px;
    margin-left: 20px;
  }

  .square-color {
    color: rgb(83, 83, 83);
  }

  i {
    font-size: 175px;
    color: #4ddd29;
  }

  .ic-garraf {
    font-size: 175px;
  }

  h1 {
    color: #297000;
  }

  .esp-caixas {
    margin-top: 70px;
  }

  .esp-caixas-b {
    margin-bottom: 70px;
  }

  /* NAV */

  .icons-nav {
    font-size: 90px;
    color: rgba(94, 104, 92, 0.801);
  }

  .esp-nav-home {
    margin-bottom: 20px;
  }

  .sombreamento-text-nav {
    color: rgb(93, 148, 79);
    text-shadow: rgba(28, 226, 28, 0.651) 0.1em 0.1em 0.2em;
  }

  .icons-nav-green {
    font-size: 90px;
  }

  .cor-nav-home {
    background-color: #0c5c0550;
  }

  .esp-nav-dois-home {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .linha-cor-nav {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    height: 2px;
  }

  .vl {
    border-left: 3px solid rgba(0, 128, 0, 0.582);
    height: 100px;
    margin-top: 10px;
  }

  .img-gerdau {
    margin-top: 20px;
  }

  .img-logo-garrafa {
    height: 500px;
  }

  /* PÁGINA NOTÍCIAS */
  .fundo-verde-noticias {
    /* background-image: url("../IMAGENS/Retângulolimao1.png"); */
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    width: 1150px;
    height: 590px;
    margin-left: 10%;
    /* padding-top: 55px; */
    position: relative;
  }

  .fundo-cinza-noticias {
    background-image: linear-gradient(rgb(221, 221, 221), rgb(233, 236, 232));
    width: 1150px;
    height: 600px;
    position: absolute;
    left: 55px;
    /* padding-top: 55px; */
    /* padding-left: 30px; */
  }

  .fundo-escuro-noticias {
    background-image: url("../IMAGENS/Retângulo\ 17.png");
    width: 550px;
    height: 525px;
    position: absolute;
    left: 710px;
    top: 95px;
  }

  .posi-noticias {
    margin-top: 450px;
    margin-left: 400px;
  }

  /*=================== PÁGINA PROJETO ===================*/
  .posi-proj-um {
    margin-top: 130px;
    color: #ffffff;
  }

  .color-proj-dois {
    color: rgb(0, 0, 0);
  }

  .fundo-verde-projeto {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    height: 400px;
  }

  .esp-caixas-proj {
    margin-top: 110px;
  }

  .posi-not-img {
    margin-left: 300px;
  }

  /*EFEITOS*/
  .efeito {
    transition: all 0.5s;
    /* cursor: pointer; */
  }

  .efeito:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  .efeito2 {
    transition: all 0.5s;
    /* cursor: pointer; */
  }

  .efeito2:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(22, 206, 6, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(18, 75, 1, 0.5));
  }

  .efeito3 {
    transition: all 0.5s;
    border: 2px solid transparent;
  }
  .efeito3:hover {
    border: 2px solid #38e70d;
  }

  /* FOOTER */
  footer {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
  }

  .img-foot-tam {
    width: 150px;
  }

  /*=================== PÁGINA FORMULÁRIO ===================*/
  .verdecla {
    color: #29ac08;
    /* border: 2px solid #38e70d; */
  }

  /*================= PÁGINA QUEM SOMOS ====================*/
  .posi-not-img-quem-somos {
    margin-left: 30px;
  }
}

/* Desktop grande */
@media (min-width: 1900px) {
  /* FONTE PADRÃO */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

  body {
    font-family: "Montserrat", sans-serif;
  }

  /* ESTILIZAÇÕES DO HEADER */
  .img-logotipo {
    width: 150px;
  }

  header {
    margin-top: auto;
    margin-bottom: auto;
  }

  .corbtn {
    color: #747474;
  }

  .img-garrafa {
    margin-top: auto;
    margin-left: 100px;
    margin-right: 50px;
    width: auto;
  }

  /* NAV PRINCIPAL */

  .fundo-verde {
    /* background-image: url("../IMAGENS/Retângulolimao1.png"); */
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    width: 30%;
    height: 600px;
    margin-left: 10%;
    padding-top: 55px;
    position: relative;
  }

  .fundo-cinza {
    background-image: url("../IMAGENS/Retângulo\ 19.png");
    width: 1800px;
    height: 610px;
    position: absolute;
    left: 520px;
    padding-top: 55px;
    padding-left: 30px;
  }

  .fundo-escuro {
    background-image: url("../IMAGENS/Retângulo\ 17.png");
    width: 250px;
    height: 550px;
    position: absolute;
    left: 950px;
    top: 130px;
  }

  .verdeesc {
    color: #297000;
  }

  /*SECTION*/

  .teste {
    color: #297000;
    font-weight: bolder;
  }

  .sombreamento-text {
    color: #4ddd29;
    text-shadow: rgb(168, 168, 168) 0.1em 0.1em 0.2em;
  }

  hr {
    background-color: rgba(160, 160, 160, 0.616);
    height: 1px;
  }

  ul.square {
    list-style-type: square;
    color: #4ddd29;
    margin-top: 80px;
  }

  .square-color {
    color: rgb(83, 83, 83);
  }

  i {
    font-size: 155px;
    color: #4ddd29;
  }

  /* NAV */

  .icons-nav {
    font-size: 90px;
    color: rgba(94, 104, 92, 0.801);
  }

  .esp-nav-home {
    margin-bottom: 10px;
  }

  .sombreamento-text-nav {
    color: rgb(93, 148, 79);
    text-shadow: rgba(28, 226, 28, 0.651) 0.1em 0.1em 0.2em;
  }

  .icons-nav-green {
    font-size: 90px;
  }

  .cor-nav-home {
    background-color: #a7a7a756;
  }

  .esp-nav-dois-home {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .linha-cor-nav {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    height: 2px;
  }

  .vl {
    border-left: 3px solid rgba(0, 128, 0, 0.582);
    height: 100px;
    margin-top: 10px;
  }

  .img-gerdau {
    margin-top: 100px;
  }

  /* PÁGINA NOTÍCIAS */
  .fundo-verde-noticias {
    /* background-image: url("../IMAGENS/Retângulolimao1.png"); */
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    width: 1150px;
    height: 590px;
    margin-left: 10%;
    /* padding-top: 55px; */
    position: relative;
  }

  .fundo-cinza-noticias {
    background-color: #dadada;
    width: 1150px;
    height: 600px;
    position: absolute;
    left: 55px;
    /* padding-top: 55px; */
    /* padding-left: 30px; */
  }

  .fundo-escuro-noticias {
    background-image: url("../IMAGENS/Retângulo\ 17.png");
    width: 550px;
    height: 525px;
    position: absolute;
    left: 710px;
    top: 95px;
  }

  .notic-h {
    margin-top: 200px;
  }

  .posi-noticias {
    margin-top: 390px;
    margin-left: 550px;
  }

  /* PÁGINA PROJETO */
  .posi-proj-um {
    margin-top: 130px;
    color: #ffffff;
  }

  .color-proj-dois {
    color: rgb(0, 0, 0);
  }

  .fundo-verde-projeto {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
    height: 400px;
  }

  .esp-caixas-proj {
    margin-top: 110px;
  }

  .posi-not-img {
    margin-left: 300px;
  }

  /* FOOTER */
  footer {
    background-image: linear-gradient(rgb(6, 231, 17), rgb(14, 105, 2));
  }

  .acess-adm {
    color: #000000;
    font-size: large;
    margin-left: 30px;
    margin-top: 25px;
  }

  .link-acesso {
    color: #ffffff;
    font-size: large;
  }

  .inst {
    color: #000000;
    margin-top: 25px;
  }

  .contat {
    margin-top: 25px;
    color: #ffffff;
  }

  .cor-cont {
    color: #000000;
    font-weight: bold;
  }

  .posi-inst-foot {
    margin-left: 25px;
    font-weight: bold;
  }

  .font-adm-foot {
    font-weight: bold;
  }

  .tam-play-foot {
    margin-right: 50px;
  }

  .imgfoot {
    margin-top: 30px;
    margin-left: 25px;
  }
}

/** SECTION LATERAL DO CADASTRO **/
.fixed-top {
  z-index: 500;
}

.form-cadastro label {
  margin-bottom: 0.09rem;
  font-size: 12px;
}

#section-register .form-group,
#section-register p {
  margin-bottom: 0.5rem;
}

.side-registrer {
  padding: 20px;
  position: fixed;
  top: 0;
  right: -500px;
  height: 100%;
  z-index: 999;
  width: 450px;
  font-size: 1em;
  background: #f2f2f2;
  transition: right 0.2s linear 0s;
  box-shadow: 3px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.side-registrer a.slide-register-close {
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  transition: all 0.2s ease-in-out;
}

.side-registrer a.slide-register-close:hover {
  transform: scale(1.5);
}

.side-section-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 0.9s;
}

#section-register {
  margin-top: 5%;
  padding: 20px;
  /* visibility: hidden; */
}

#section-register i {
  font-size: 100px;
}
